@import "_variables";

body{
    background-color:$colorprimario;
    .logo{
        width: 100%;
        height: auto;
        margin-top: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(/assets/img/Fondo.jpeg);
        background-size: cover;
    }
    .logo img{
        width: 200px;
        border-radius: 100px;
    }
    h1{
      font-family: sans-serif;
    }
    .subtitulo{
        color: black;
        font-size: 25px;
        font-family: sans-serif;
    }
    .subtitulo-secun{
        @extend .subtitulo;
    }
    .col{
        background-color: map-get($tarjetas , bg-color );
    }
    @mixin btn ($tamanioletra, $bg-color, $letra) {
        font-size: $tamanioletra;
        background-color: $bg-color;
        font-family: $letra;
        
    }

    .btn{
        @include btn(25px, aqua,sans-serif )
    }

    
}
